    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Script Session -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="./js/lineup.js"></script>
</body>
</html>