main{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

main .soccer-field{
    width: 40vw;
    height: 90vh;

    border: 1px solid black;
}

main .soccer-players{
    width: 50vw;
    height: 70vh;

    display: flex;
    flex-direction: row;

    border: 1px solid black;
}

main .player{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
}

    main .player .player-shirt{
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../img/lineup/t-shirt.png") top center no-repeat;
        background-size: contain;
    }
    main .player .player-shirt .number-shirt {
        font-family: Impact;
        font-size: 38px;
    }

    main .player .player-name{
        width: 100px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
    }
    main .player .player-name .name-of-player {
        font-family: Impact;
        font-size: 18px;
    }

